<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Payroll system web</title>
    <link rel="stylesheet" href="style.css" />
   
</head>

    <body>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="homepage.hbs">HOME</a></li>
                    <li><a href="personal.html">EMPLYEE PERSONAL DATA</a></li>
                    <li><a href="wages.html"> WAGES</a></li>
                    <li><a href="report.html"> REPORT</a></li>
                    <li><a href="salary_slip.html">SALARY SLIP</a>  </li>
                    <li><a href="leave.html">LEAVE</a> </li>
                    
                </ul>

            </nav>
            <h1 class="topic">HOME</h1>
        </header>

    </body>
</html>
