<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
  <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="homepage.hbs">HOME</a></li>
                    <li><a href="personal.hbs">EMPLYEE PERSONAL DATA</a></li>
                    <li><a href="wages.hbs"> WAGES</a></li>
                    <li><a href="report.hbs"> REPORT</a></li>
                    <li><form action="/salary">
                         <input type="submit" value="salary slip" />\ </li>
                    <li><a href="leave.hbs">LEAVE</a> </li>
                </ul>

            </nav>
            <h1 class="topic"><strong> EMPLOYEE LIST</strong></h1>
        </header>
   <h1> Add Here</h1>
        <form action="/reg" method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br><br>

  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br><br>

    <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br><br>

    <label for="gender">Gender:</label><br>
    <input type="radio" id="male" name="gender" value="Male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="Female">
  <label for="female">Female</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Others</label><br>
  <br>

    <label for="phone">Phone No.</label><br>
  <input type="text" id="phone" name="phone"><br><br>

    <label for="age">Age:</label><br>
  <input type="text" id="age" name="age"><br><br>

 
  <label for="city">CITY:</label><br>
  <input type="text" id="city" name="city"><br><br>

  <label for="state">STATE:</label><br>
  <input type="text" id="state" name="state"><br><br>

<label for="pan">PAN NO.:</label><br>
  <input type="text" id="pan" name="pan"><br><br>

  <label for="adhar">ADHAR NO.:</label><br>
  <input type="text" id="adhar" name="adhar"><br><br>

  <label for="esic">ESIC NO.:</label><br>
  <input type="text" id="esic" name="esic"><br><br>

  <label for="pf">PF NO.:</label><br>
  <input type="text" id="pf" name="pf"><br><br>

  <input type="submit" value="Register Now">
           


</form>
  <form action="/sam">
    <input type="submit" value="Go to Sample" />
</form>

</body>
</html>