<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
    <link rel="stylesheet" href="style.css">
    <TITLE>leave </TITLE>
    </head>
    <body>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="personal.html">EMPLYEE PERSONAL DATA</a></li>
                    <li><a href="wages.html"> WAGES</a></li>
                    <li><a href="report.html"> REPORT</a></li>
                    <li><a href="salary_slip.html">SALARY SLIP</a>  </li>
                    <li><a href="leave.html">LEAVE</a> </li>
                </ul>

            </nav>
            <h1 class="topic"><strong>LEAVE APPLICATION</strong></h1>
        </header>

        <h3>ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=text></h3>

            <h3>DATE:</h3><h5><u>FROM:</u>&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" id="ldate" name="ldate">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <u>TO:</u>&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" id="ldate" name="ldate"></h5>
            
        <h3> REASON:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <textarea name=tr cols=22 rows=5 ></textarea></h3>
    </body>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=button value=SUBMIT onclick="alert('SUBMITTED')">


</html>
