@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
    box-sizing: border-box;
    font-family:raleway;
}
html, body {
    margin: 0;
    padding: 0;
}
.nav ul {
    margin: 0;
}
 .nav li {
     display: inline; 
 }
 .nav a {
     display:inline-block;
     padding:.5em;
     color:crimson;
     text-decoration: none;
 }
 .nav a:hover{
     background-color:rgba(255,0,0,.4);
 }
 .main-nav{
     text-align: center;
     font-size: 1.1em;
     border-bottom:1px solid rgba(255, 0, 0, 0.5);
 }

 .main-nav li{
     padding: 0, 10%;
 }
.main-header{
    background-color:cornsilk;
    background-size: cover;
    padding-bottom: 30px;
   
}
.topic {
    text-align: center;
    margin:0;
    font-size: 3em;
    font-family: raleway ;
    font-weight: normal;
    color: crimson;
}
.e-row{
display:inline;
border-bottom: 1px;
padding-bottom: 1em;
margin-bottom: 1em;    
}

.e-header{
    font-weight:bold;
    font-size: 1.2em;
    color:rgb(32, 32, 32);
}
.e-column{
    display:flex;
    align-items: center;
    /*border-bottom: 1px solid #333;*/
    margin-right: 1.5em;
    padding-bottom: 10px;
    padding-top: 10px;
}

.e-title{
    color:rgb(0,0,0);
    font-size: 1.2em;
}
/*.e-input{
    height: 34px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #eee;
    color:#333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 2.5em;
}
*/
